.u-section-1 .u-sheet-1 {
  min-height: 377px;
}

.u-section-1 .u-image-1 {
  width: 343px;
  height: 343px;
  margin: 17px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 236px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 307px;
  height: 133px;
  margin: -43px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: -56px auto 56px 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 779px;
}

.u-section-3 .u-text-1 {
  margin: 42px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: -68px 1140px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 146px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 63px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-right: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 551px;
}

.u-section-4 .u-text-1 {
  margin: 21px auto 60px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 287px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 18px 431px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px auto 52px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    margin-right: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-3 {
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 547px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-6 .u-table-1 {
  width: 1050px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-block-b405-11 {
  height: 46px;
}

.u-section-6 .u-table-cell-1 {
  background-image: none;
}

.u-section-6 .u-table-cell-2 {
  background-image: none;
}

.u-section-6 .u-table-cell-5 {
  background-image: none;
}

.u-section-6 .u-table-cell-6 {
  background-image: none;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
}

.u-section-6 .u-table-cell-10 {
  background-image: none;
}

.u-section-6 .u-table-cell-11 {
  background-image: none;
}

.u-section-6 .u-table-cell-12 {
  background-image: none;
}

.u-block-b405-26 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 862px;
}

.u-section-7 .u-text-1 {
  margin: 22px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-7 .u-table-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-block-1130-11 {
  height: 46px;
}

.u-section-7 .u-table-cell-1 {
  background-image: none;
}

.u-section-7 .u-table-cell-2 {
  background-image: none;
}

.u-section-7 .u-table-cell-3 {
  background-image: none;
}

.u-section-7 .u-table-cell-4 {
  background-image: none;
}

.u-section-7 .u-table-cell-5 {
  background-image: none;
}

.u-section-7 .u-table-cell-6 {
  background-image: none;
}

.u-section-7 .u-table-cell-7 {
  background-image: none;
}

.u-section-7 .u-table-cell-8 {
  background-image: none;
}

.u-section-7 .u-table-cell-9 {
  background-image: none;
}

.u-section-7 .u-table-cell-10 {
  background-image: none;
}

.u-section-7 .u-table-cell-11 {
  background-image: none;
}

.u-section-7 .u-table-cell-12 {
  background-image: none;
}

.u-section-7 .u-table-cell-13 {
  background-image: none;
}

.u-section-7 .u-table-cell-14 {
  background-image: none;
}

.u-section-7 .u-table-cell-15 {
  background-image: none;
}

.u-section-7 .u-table-cell-16 {
  background-image: none;
}

.u-section-7 .u-table-cell-17 {
  background-image: none;
}

.u-section-7 .u-table-cell-18 {
  background-image: none;
}

.u-section-7 .u-table-cell-19 {
  background-image: none;
}

.u-section-7 .u-table-cell-20 {
  background-image: none;
}

.u-section-7 .u-table-cell-21 {
  background-image: none;
}

.u-section-7 .u-table-cell-22 {
  background-image: none;
}

.u-section-7 .u-table-cell-23 {
  background-image: none;
}

.u-section-7 .u-table-cell-24 {
  background-image: none;
}

.u-section-7 .u-table-cell-25 {
  background-image: none;
}

.u-section-7 .u-table-cell-26 {
  background-image: none;
}

.u-section-7 .u-table-cell-27 {
  background-image: none;
}

.u-section-7 .u-table-cell-28 {
  background-image: none;
}

.u-section-7 .u-table-cell-29 {
  background-image: none;
}

.u-section-7 .u-table-cell-30 {
  background-image: none;
}

.u-section-7 .u-table-cell-31 {
  background-image: none;
}

.u-section-7 .u-table-cell-32 {
  background-image: none;
}

.u-section-7 .u-table-cell-33 {
  background-image: none;
}

.u-section-7 .u-table-cell-34 {
  background-image: none;
}

.u-section-7 .u-table-cell-35 {
  background-image: none;
}

.u-section-7 .u-table-cell-36 {
  background-image: none;
}

.u-section-7 .u-table-cell-37 {
  background-image: none;
}

.u-section-7 .u-table-cell-38 {
  background-image: none;
}

.u-section-7 .u-table-cell-39 {
  background-image: none;
}

.u-section-7 .u-table-cell-40 {
  background-image: none;
}

.u-section-7 .u-table-cell-41 {
  background-image: none;
}

.u-section-7 .u-table-cell-42 {
  background-image: none;
}

.u-section-7 .u-table-cell-43 {
  background-image: none;
}

.u-section-7 .u-table-cell-44 {
  background-image: none;
}

.u-section-7 .u-table-cell-45 {
  background-image: none;
}

.u-section-7 .u-table-cell-46 {
  background-image: none;
}

.u-section-7 .u-table-cell-47 {
  background-image: none;
}

.u-section-7 .u-table-cell-48 {
  background-image: none;
}

.u-section-7 .u-table-cell-49 {
  background-image: none;
}

.u-section-7 .u-table-cell-50 {
  background-image: none;
}

.u-block-1130-26 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-7 .u-table-1 {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-top: 52px;
  }

  .u-section-7 .u-table-1 {
    margin-top: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    margin-top: 131px;
  }

  .u-section-7 .u-table-1 {
    margin-top: -77px;
    margin-bottom: 24px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 558px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-8 .u-image-1 {
  width: 570px;
  height: 326px;
  margin: -7px auto 56px;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 195px;
  }
}