.u-section-1 .u-sheet-1 {
    min-height: 418px;
  }
  
  .u-section-1 .u-image-1 {
    width: 380px;
    height: 350px;
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-image-2 {
    width: 380px;
    height: 350px;
    margin: -350px auto 0;
  }
  
  .u-section-1 .u-image-3 {
    width: 380px;
    height: 350px;
    margin: -350px 0 0 auto;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin: 13px 0 13px auto;
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 307px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 313px;
    }
  
    .u-section-1 .u-image-2 {
      width: 340px;
      height: 313px;
      margin-top: -313px;
    }
  
    .u-section-1 .u-image-3 {
      width: 340px;
      height: 313px;
      margin-top: -313px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 899px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 40px auto 0 0;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1rem;
    line-height: 2;
    margin: 40px auto 40px 0;
  }