.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 29px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1082px;
  height: 372px;
  margin: 29px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 116px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 3;
  margin: 25px 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 659px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 3;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 830px;
  height: 229px;
  margin: 23px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 94px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 948px;
}

.u-section-4 .u-text-1 {
  line-height: 3;
  margin: 25px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 62px 0 0;
}

.u-section-4 .u-image-1 {
  height: 540px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  line-height: 3;
  margin: 25px 0 0 48px;
}

.u-section-4 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: -85px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 416px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -243px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 300px;
    margin-bottom: 47px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-top: -307px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-top: -371px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 452px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -567px;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 11px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 3032px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  line-height: 3;
  margin: 28px 20px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 406px;
}

.u-section-6 .u-text-1 {
  margin: 24px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 3;
  margin: 25px 0 26px;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 699px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  line-height: 3;
  margin: 25px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-7 .u-table-1 {
  width: 544px;
  margin: 0 auto;
}

.u-block-3ff8-12 {
  height: 46px;
}

.u-section-7 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-7 .u-table-cell-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-7 .u-table-cell-5 {
  background-image: none;
}

.u-section-7 .u-table-cell-6 {
  background-image: none;
}

.u-section-7 .u-table-cell-9 {
  background-image: none;
}

.u-section-7 .u-table-cell-10 {
  background-image: none;
}

.u-block-3ff8-27 {
  height: 46px;
}

.u-section-7 .u-text-4 {
  margin: 58px auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 23px 0 25px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-table-1 {
    width: 340px;
  }
}