.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-image-1 {
  width: 380px;
  height: 350px;
  margin: 50px auto 0;
}

.u-section-1 .u-image-2 {
  width: 380px;
  height: 350px;
  margin: -350px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 380px;
  height: 350px;
  margin: -350px auto 50px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 313px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 313px;
    margin-top: -313px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 313px;
    margin-top: -313px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 3;
  margin: 25px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  line-height: 3;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  line-height: 3;
  margin: 11px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 25px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  line-height: 3;
  margin: 28px auto 0 0;
}

.u-section-2 .u-image-2 {
  height: 51px;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-4 {
    margin-top: -43px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-4 {
    margin-top: -38px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-4 {
    margin-top: -34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-4 {
    margin-top: -30px;
  }
}