.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-image-1 {
  width: 370px;
  height: 423px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-2 {
  width: 370px;
  height: 423px;
  margin: -423px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 370px;
  height: 423px;
  margin: -423px auto 30px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 389px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 389px;
    margin-top: -389px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 389px;
    margin-top: -389px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 292px;
}

.u-section-2 .u-text-1 {
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 3;
  margin: 21px auto 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  line-height: 3;
  margin: 0 0 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }
}