.u-section-1 .u-sheet-1 {
  min-height: 377px;
}

.u-section-1 .u-image-1 {
  width: 343px;
  height: 343px;
  margin: 17px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  line-height: 3;
  margin: 39px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 324px;
  }
}