.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-gallery-1 {
    height: 349px;
    margin-top: 135px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-gallery-1 {
    height: 802px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1805px;
    margin-top: 157px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 236px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 307px;
  height: 133px;
  margin: -43px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: -56px auto 56px 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 779px;
}

.u-section-3 .u-text-1 {
  margin: 42px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: -68px 1140px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 146px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 63px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-right: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 551px;
}

.u-section-4 .u-text-1 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 787px;
  height: 413px;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 331px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 19px auto 40px 0;
}.u-section-6 .u-sheet-1 {
  min-height: 547px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-6 .u-table-1 {
  width: 1050px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-block-b405-11 {
  height: 46px;
}

.u-section-6 .u-table-cell-1 {
  background-image: none;
}

.u-section-6 .u-table-cell-2 {
  background-image: none;
}

.u-section-6 .u-table-cell-5 {
  background-image: none;
}

.u-section-6 .u-table-cell-6 {
  background-image: none;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
}

.u-section-6 .u-table-cell-10 {
  background-image: none;
}

.u-section-6 .u-table-cell-11 {
  background-image: none;
}

.u-section-6 .u-table-cell-12 {
  background-image: none;
}

.u-block-b405-26 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 558px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-7 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 745px;
  height: 285px;
  margin: 37px auto 53px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 130px;
  }
}