.u-section-1 .u-sheet-1 {
  min-height: 862px;
}

.u-section-1 .u-group-1 {
  min-height: 822px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 21px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 19px 21px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 807px;
  height: 419px;
  margin: 59px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 184px;
  margin: -457px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 399px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 702px;
    height: 364px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -402px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 522px;
    height: 271px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -309px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 322px;
    height: 167px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -205px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 237px;
}

.u-section-2 .u-group-1 {
  min-height: 197px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0 21px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 19px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 409px;
}

.u-section-3 .u-group-1 {
  min-height: 330px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 39px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 30px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0 21px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 19px 21px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 409px;
}

.u-section-4 .u-group-1 {
  min-height: 330px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 39px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 30px;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0 21px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 19px 21px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 409px;
}

.u-section-5 .u-group-1 {
  min-height: 330px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 39px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 30px;
}

.u-section-5 .u-text-1 {
  margin: 30px auto 0 21px;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 19px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 409px;
}

.u-section-6 .u-group-1 {
  min-height: 330px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 39px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 30px;
}

.u-section-6 .u-text-1 {
  margin: 30px auto 0 21px;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 19px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-group-1 {
  min-height: 368px;
  height: auto;
  margin: 0 auto 32px 20px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 34px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}