.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-gallery-1 {
    height: 347px;
    margin-top: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-gallery-1 {
    height: 825px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1206px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 83px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 20px;
}.u-section-3 .u-sheet-1 {
  min-height: 383px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  margin: 29px 124px 0 385px;
}

.u-section-3 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: -251px auto 83px 92px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 162px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 102px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 195px;
}

.u-section-4 .u-image-1 {
  width: 352px;
  height: 104px;
  margin: 46px auto 0 17px;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  margin: -126px 100px 0 385px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 17px 120px 23px 386px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 20px;
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 100px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -122px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 196px;
}

.u-section-5 .u-image-1 {
  width: 168px;
  height: 170px;
  margin: 13px auto 0 92px;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  margin: -118px 178px 65px 386px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 78px;
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 202px;
}

.u-section-6 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: 17px auto 0 93px;
}

.u-section-6 .u-text-1 {
  font-size: 0.875rem;
  margin: -117px 171px 60px 385px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 71px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 184px;
}

.u-section-7 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: 8px auto 0 92px;
}

.u-section-7 .u-text-1 {
  font-size: 0.875rem;
  margin: -128px 171px 48px 387px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 71px;
    margin-left: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 143px;
}

.u-section-8 .u-image-1 {
  width: 235px;
  height: 95px;
  margin: 29px auto 0 57px;
}

.u-section-8 .u-text-1 {
  font-size: 0.875rem;
  margin: -88px 173px 41px 385px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 73px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 119px;
}

.u-section-9 .u-text-1 {
  font-size: 0.875rem;
  margin: 35px 170px 0 385px;
}

.u-section-9 .u-image-1 {
  width: 327px;
  height: 59px;
  margin: -66px auto 7px 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 70px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 135px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    margin-left: 13px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 277px;
}

.u-section-10 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 7px auto 0 99px;
}

.u-section-10 .u-text-1 {
  font-size: 0.875rem;
  margin: -108px 358px 0 385px;
}

.u-section-10 .u-text-2 {
  font-size: 1.375rem;
  margin: 42px 909px 60px 117px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 258px;
    margin-left: 285px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 809px;
    margin-left: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 148px;
    margin-left: 175px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 606px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 58px;
    margin-left: 85px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1rem;
    margin-right: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 226px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 83px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 20px 0;
}.u-section-12 .u-sheet-1 {
  min-height: 149px;
}

.u-section-12 .u-image-1 {
  width: 352px;
  height: 104px;
  margin: 23px auto 0 12px;
}

.u-section-12 .u-text-1 {
  font-size: 0.875rem;
  margin: -85px 0 41px 375px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 100px;
    margin-left: 0;
  }

  .u-section-12 .u-text-1 {
    margin-top: -81px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 216px;
}

.u-section-13 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: 24px auto 0 92px;
}

.u-section-13 .u-text-1 {
  font-size: 0.875rem;
  margin: -113px 0 71px 375px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    margin-bottom: 60px;
  }
}