.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

.u-section-1 .u-image-1 {
  width: 380px;
  height: 350px;
  margin: 50px auto 0;
}

.u-section-1 .u-image-2 {
  width: 380px;
  height: 350px;
  margin: -350px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 380px;
  height: 350px;
  margin: -350px auto 50px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 313px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 313px;
    margin-top: -313px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 313px;
    margin-top: -313px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 83px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 526px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  margin: 32px 124px 0 386px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: -378px auto 0 2px;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 754px;
  margin: 234px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 24px;
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 123px;
}

.u-section-4 .u-image-1 {
  width: 352px;
  height: 104px;
  margin: 10px auto 0 -56px;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  margin: -85px 100px 0 386px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 754px;
  margin: 27px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 66px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 202px;
}

.u-section-5 .u-image-1 {
  width: 153px;
  height: 153px;
  margin: 25px auto 0 18px;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  margin: -109px 178px 60px 386px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 78px;
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 197px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 194px;
}

.u-section-6 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 754px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 15px auto 0 15px;
}

.u-section-6 .u-text-1 {
  font-size: 0.875rem;
  margin: -109px 171px 0 385px;
}

.u-section-6 .u-line-2 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 755px;
  margin: 56px 0 2px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 71px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-line-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-6 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-line-2 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 187px;
}

.u-section-7 .u-image-1 {
  width: 165px;
  height: 165px;
  margin: 8px auto 0 16px;
}

.u-section-7 .u-text-1 {
  font-size: 0.875rem;
  margin: -128px 171px 54px 387px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 71px;
    margin-left: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 145px;
}

.u-section-8 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 753px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-image-1 {
  width: 235px;
  height: 90px;
  margin: 27px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 0.875rem;
  margin: -88px 173px 0 385px;
}

.u-section-8 .u-line-2 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 755px;
  margin: 46px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 73px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-line-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 138px;
  }

  .u-section-8 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-line-1 {
    width: 540px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-line-1 {
    width: 340px;
  }

  .u-section-8 .u-line-2 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 120px;
}

.u-section-9 .u-text-1 {
  font-size: 0.875rem;
  margin: 35px 170px 0 385px;
}

.u-section-9 .u-image-1 {
  width: 327px;
  height: 59px;
  margin: -65px auto 0 -42px;
}

.u-section-9 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 755px;
  margin: 21px 0 2px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 70px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-9 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-line-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 227px;
}

.u-section-10 .u-image-1 {
  width: 145px;
  height: 145px;
  margin: 22px auto 0 32px;
}

.u-section-10 .u-text-1 {
  font-size: 0.875rem;
  margin: -106px 358px 0 385px;
}

.u-section-10 .u-text-2 {
  margin: 39px 982px 0 55px;
}

.u-section-10 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 755px;
  margin: 31px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 258px;
    margin-left: 285px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 838px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 148px;
    margin-left: 175px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 618px;
  }

  .u-section-10 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 58px;
    margin-left: 85px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1rem;
    margin-right: 438px;
  }

  .u-section-10 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-10 .u-line-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 92px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 30px 0;
}.u-section-12 .u-sheet-1 {
  min-height: 134px;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  margin: 43px 0 43px 385px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 83px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 20px 0;
}.u-section-14 .u-sheet-1 {
  min-height: 216px;
}

.u-section-14 .u-image-1 {
  width: 155px;
  height: 155px;
  margin: 27px auto 0 11px;
}

.u-section-14 .u-text-1 {
  font-size: 0.875rem;
  margin: -111px -2px 0 385px;
}

.u-section-14 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 755px;
  margin: 79px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    margin-left: 175px;
  }

  .u-section-14 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-line-1 {
    width: 340px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 152px;
}

.u-section-15 .u-image-1 {
  width: 352px;
  height: 104px;
  margin: 24px auto 0 -58px;
}

.u-section-15 .u-text-1 {
  font-size: 0.875rem;
  margin: -86px 0 44px 385px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-1 {
    margin-left: 0;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 1637px;
}

.u-section-16 .u-text-1 {
  margin: 46px auto 0 0;
}

.u-section-16 .u-accordion-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-16 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-1 {
  padding: 20px 30px 78px;
}

.u-section-16 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-16 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-16 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-16 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-16 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-16 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-4 {
  padding: 20px;
}

.u-section-16 .u-accordion-link-5 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-5 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-16 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-5 {
  padding: 20px;
}

.u-section-16 .u-accordion-link-6 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-6 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-16 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-6 {
  padding: 20px;
}

.u-section-16 .u-accordion-link-7 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-7 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-16 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-7 {
  padding: 20px;
}

.u-section-16 .u-accordion-link-8 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-16 .u-icon-8 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-16 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-16 .u-container-layout-8 {
  padding: 20px;
}

.u-section-16 .u-text-10 {
  margin: 95px auto 0 0;
}

.u-section-16 .u-text-11 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 36px;
}

@media (max-width: 991px) {
  .u-section-16 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}