.u-section-1 .u-sheet-1 {
  min-height: 308px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 42px auto 0 129px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 112px;
  margin: 42px auto 0 132px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 42px 129px;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 81px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 85px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 81px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2177px;
}

.u-section-2 .u-image-1 {
  width: 762px;
}