.u-section-1 .u-sheet-1 {
  min-height: 377px;
}

.u-section-1 .u-image-1 {
  width: 343px;
  height: 343px;
  margin: 17px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 21px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 41px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 34px 0 33px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 22px 0 33px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 478px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 434px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 32px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 32px;
}