.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2 .u-text-1 {
  margin: 56px 280px 0 60px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 36px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 800px;
    margin-left: 0;
    margin-right: 140px;
  }

  .u-section-2 .u-text-2 {
    width: 800px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-text-1 {
  margin: 56px 280px 0 60px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: 36px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 800px;
    margin-left: 0;
    margin-right: 140px;
  }

  .u-section-3 .u-text-2 {
    width: 800px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 495px;
}

.u-section-4 .u-text-1 {
  margin: 56px 280px 0 60px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 36px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 800px;
    margin-left: 0;
    margin-right: 140px;
  }

  .u-section-4 .u-text-2 {
    width: 800px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 495px;
}

.u-section-5 .u-text-1 {
  margin: 56px 280px 0 60px;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  margin: 36px 60px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 800px;
    margin-left: 0;
    margin-right: 140px;
  }

  .u-section-5 .u-text-2 {
    width: 800px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}