.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-image-1 {
  width: 370px;
  height: 423px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 370px;
  height: 423px;
  margin: -423px auto 0;
}

.u-section-1 .u-image-3 {
  width: 370px;
  height: 423px;
  margin: -423px 0 30px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 389px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 389px;
    margin-top: -389px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 389px;
    margin-top: -389px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 21px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 41px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 34px 0 33px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 22px 0 33px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 478px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 434px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 32px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 32px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}