.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-gallery-1 {
    height: 802px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 50px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 35px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 359px;
  height: 40px;
  margin: -372px auto 0;
}

.u-section-3 .u-image-2 {
  width: 284px;
  height: 37px;
  margin: 70px auto 0;
}

.u-section-3 .u-image-3 {
  width: 211px;
  height: 48px;
  margin: 58px auto 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 38px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 459px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 51px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 38px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}