.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-image-1 {
  width: 380px;
  height: 350px;
  margin: 50px auto 0;
}

.u-section-1 .u-image-2 {
  width: 380px;
  height: 350px;
  margin: -350px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 380px;
  height: 350px;
  margin: -350px auto 50px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 313px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 313px;
    margin-top: -313px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 313px;
    margin-top: -313px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1185px;
}

.u-section-2 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 26px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 243px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  line-height: 3;
  margin: 31px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 42px;
  margin: -144px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 312px;
  height: 472px;
  margin: -281px 20px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  line-height: 3;
  font-weight: 700;
  margin: -76px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  line-height: 3;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: -232px auto 202px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-4 {
    margin-top: -125px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 40px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -279px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 25px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -264px;
  }
}